.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Changed to ensure content starts from the top */
    height: 100vh;
    position: relative;
    overflow: auto; /* Allows for scrolling when content exceeds the viewport height */
  }
  
  .howItWorksContainer {
    background-color: #0C234B;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 70vw; 
    min-width: 300px;
    padding: 20px 0;
    position: absolute;
    top: calc(10% + 60vh + 70px); /* Increased gap by 50px from selector */
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    border-radius: 2px;
    z-index: 1000;
    max-height: 900px;
  }
  
  .howItWorksText {
    font-size: 2.3rem; 
    color: white;
    margin: 0 auto; 
    padding: 0 10px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: 90%;
    text-align: center;
  } 
  
  .howItWorksContent {
    font-size: 1.2rem;  
    color: #000000; 
    background-color: white; 
    padding: 1.5rem;  
    text-align: center;
    border-radius: 2px;
    margin: 2rem;
  }
  
  @media (max-width: 1500px) {
    .howItWorksContainer {
      width: 80%;
      min-width: 0;
      top: calc(10% + 60vh + 50px);
    }
    .howItWorksContent {
      font-size: 1rem;
    }
  }
  
  @media (max-height: 600px) {
    .howItWorksContainer {
      width: 90%;
      top: calc(10% + 60vh + 30px);
    }
  }