.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  height: 100vh; /* Full height of the viewport */
  position: relative;
}

.graph-container {
  position: absolute;
  top: 14%; /* Adjust this to set how far from the top the graph should be */
  left: 50%;
  transform: translateX(-50%);
  height: 60vh; /* Proportional height */
  width: 80vw; /* Proportional width */
  max-height: 600px; /* Maximum height */
  max-width: 900px; /* Maximum width */
}

.selector {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
}

/* Responsive adjustments */
@media (max-width: 1500px) {
  .graph-container {
    width: 75vw;
  }

  .selector {
    width: 180px;
  }
}

@media (max-width: 600px) {
  .graph-container {
    width: 90vw;
  }

  .selector {
    width: 160px;
  }
}